<section class="container">
  <div class="row p-5">
    <div class="col-sm-7 mx-auto">

      <div class="card shadow-lg">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mx-auto w-100">Sign Up to Angular</h5>
            <h5><i class="fa fa-key text-success"></i></h5>
          </div>
        </div>


        <div class="card-body">
          <form #formSignUp="ngForm" (ngSubmit)="formSignUp.form.valid && createUser(formSignUp)" novalidate>
            <div class="form-group mx-auto">

              <div class="col-sm-12 mb-3">
                <input class="form-control" type="text" name="email" id="email" placeholder="Email"
                  [(ngModel)]="objUser.email" style="border-radius: 2rem;" #email="ngModel"
                  [pattern]="patternEmail"
                  [ngClass]="{'is-invalid': formSignUp.submitted && email.invalid}" minlength="15" required />
                <div class="invalid-feedback" *ngIf="formSignUp.submitted && email.invalid">
                  <small>
                    <span class="text-danger" *ngIf="email?.errors?.required">The user's email is requires</span>
                  </small>
                  <small>
                    <span class="text-danger" *ngIf="email?.errors?.minlength">Minimun 15 characters</span>
                  </small>
                  <small>
                    <span class="text-danger" *ngIf="email?.errors?.pattern">The pattern is incorrect</span>
                  </small>
                </div>
              </div>

              <div class="col-sm-12 my-3">
                <input class="form-control" type="password" name="password" id="password" placeholder="Password"
                  [(ngModel)]="objUser.password" style="border-radius: 2rem;" #password="ngModel"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])([A-Za-z\d$@$!%*?&]|[^ ]){8,15}$"
                  [ngClass]="{'is-invalid': formSignUp.submitted && password.invalid}" minlength="8" maxlength="15"
                  required />
                <!--https://es.stackoverflow.com/questions/4300/expresiones-regulares-para-contrase%C3%B1a-en-base-a-una-politica-->
                <!--Ejemplo de contraseña AZaz11!!-->
                <div class="invalid-feedback" *ngIf="formSignUp.submitted && password.invalid">
                  <small>
                    <span class="text-danger" *ngIf="password?.errors?.required">The user's password is requires</span>
                  </small>
                  <small>
                    <span class="text-danger" *ngIf="password?.errors?.minlength">Minimun 8 characters</span>
                  </small>
                  <small>
                    <span class="text-danger" *ngIf="password?.errors?.maxlength">Maximun 15 characters</span>
                  </small>
                  <small>
                    <span class="text-danger" *ngIf="password?.errors?.pattern">The pattern is incorrect</span>
                  </small>
                </div>
              </div>


              <div class="col-sm-12 my-3">
                <input class="form-control" type="password" name="repassword" id="repassword" placeholder="Confirm Password"
                  [(ngModel)]="objUser.repassword" style="border-radius: 2rem;" #repassword="ngModel"
                  pattern="{{ objUser.password }}"
                  [ngClass]="{'is-invalid': formSignUp.submitted && repassword.invalid}" required />
                <div class="invalid-feedback" *ngIf="formSignUp.submitted && repassword.invalid">
                  <small>
                    <span class="text-danger" *ngIf="repassword?.errors?.required">The user's password is required</span>
                  </small>
                  <small>
                    <span class="text-danger" *ngIf="repassword?.errors?.pattern">The pattern is incorrect</span>
                  </small>
                </div>
              </div>

            </div>

            <div class="form-group mx-auto col-sm-10 my-3">
              <button class="btn btn-block btn-danger" style="border-radius: 2rem;" type="submit">Sign Up</button>
              <button class="btn btn-block btn-outline-info" style="border-radius: 2rem;"
                [routerLink]="['/home']">Return to home</button>
            </div>

          </form>

          <hr>
          <div class="text-center">
            Do you have an account?
            <a [routerLink]="['/access']">Sign In</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!--
<section class="container">
  <div class="row pt-5">
    <div class="col-sm-6 mx-auto">
      <div class="card shadow-lg">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mx-auto w-100">Crear usuario</h5>
            <i class="fa fa-key text-danger" style="font-size: 17px"></i>
          </div>
        </div>
        <div class="card-body">
          <form #frmCrear="ngForm" (ngSubmit)="frmCrear.form.valid && createUser(frmCrear)" novalidate>
            <div class="form-group mx-auto">
              <div class="col-sm-12">
                <input style="border-radius: 3rem" class="form-control" id="usu" name="usu" type="text"
                  [(ngModel)]="objUser.email" #usu="ngModel" placeholder="Correo electronico" [ngClass]="{
                    'is-invalid': frmCrear.submitted && usu.invalid
                  }" required minlength="5" [pattern]="patternEmail" />
                <div class="invalid-feedback" *ngIf="frmCrear.submitted && usu.invalid">
                  <span *ngIf="usu?.errors?.required">
                    Email de usuario requerido</span>
                  <span *ngIf="usu?.errors?.pattern">
                    Debe ingresar un correo válido</span>
                </div>
              </div>

              <div class="col-sm-12 mt-4">
                <input style="border-radius: 3rem" class="form-control" type="password" name="con" id="con"
                  placeholder="Contraseña" [(ngModel)]="objUser.password" #con="ngModel" [ngClass]="{
                    'is-invalid': frmCrear.submitted && con.invalid
                  }" required minlength="5" />
                <div class="invalid-feedback" *ngIf="frmCrear.submitted && con.invalid">
                  <span *ngIf="con?.errors?.required">Contraseña requerido</span>
                  <span *ngIf="con?.errors?.minlength">La contraseña debe tener mínimo 5 caracteres</span>
                </div>
              </div>

              <div class="col-sm-12 mt-4">
                <input style="border-radius: 3rem" class="form-control" type="password" name="recon" id="recon"
                  placeholder="Confirmar Contraseña" [(ngModel)]="objUser.repassword" #recon="ngModel" [ngClass]="{
                    'is-invalid': frmCrear.submitted && recon.invalid
                  }" required pattern="{{ objUser.password }}" />
                <div class="invalid-feedback" *ngIf="frmCrear.submitted && recon.invalid">
                  <span *ngIf="recon?.errors?.required">Confirmar Contraseña campo requerido</span>
                  <span *ngIf="recon?.errors?.pattern">No son iguales las contraseña</span>
                </div>
              </div>
            </div>

            <div class="form-group mx-auto col-sm-12">
              <button class="btn btn-block btn-dark" type="submit" style="border-radius: 3rem">
                Crear Cuenta
              </button>
              <a class="btn btn-block btn-danger" style="border-radius: 3rem" [routerLink]="['/inicio']">Regresar</a>
              <div class="dropdown-divider"></div>
              <div class="text-center mb-2">
                <small>
                  <strong>Inicia Sesion</strong>, si ya tienes una cuenta
                </small>
              </div>
              <a class="btn btn-block btn-success" style="border-radius: 3rem" [routerLink]="['/acceso']">Iniciar
                sesion</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
-->
